.main-dich-vu {
  margin: 0px;
  width: 100%;
  background-color: black;
}

.container-dich-vu {
  width: 1080px;
  margin: 0 auto;
  display: block;
  padding: 30px 0;
}

/* tiêu đề */
.container-title {
  width: 100%;
  height: 190px;
}

.title-page {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.shadow {
  width: inherit;
  height: inherit;
  background-color: #474747;
  opacity: 0.5;
}

.title-page h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  color: #fff;
}

/* tiêu đề */

.menu-dich-vu {
  display: flex;
  /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu-dich-vu-container {
  /* padding: 20px; */
}

.menu-dich-vu-items {
  margin: auto;
  display: inline-block;
  /* width: 18%; */
  padding: 0 20px;
  padding-top: 20px;
}

.menu-dich-vu-items:first-child {
  margin-left: unset;
  margin-right: auto;
}

.menu-dich-vu-items:last-child {
  margin-left: auto;
  margin-right: unset;
}

.menu-dich-vu-items a div {
  width: 100%;
  text-align: center;
}

.menu-dich-vu-items a div img {
  width: 160px;
  height: 160px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 25px;
  margin: auto;
}

.menu-dich-vu-items a p {
  margin: auto;
  margin-top: 10px;
  font-size: 18px;
  width: 160px !important;
  overflow: hidden;
  text-overflow: clip;
  text-align: center;
  color: white;
  line-height: 24px;
  padding-bottom: 20px;
}

.menu-dich-vu-items:hover {
  background-color: #f5f5f5c4;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content-dich-vu {
  padding: 20px 25px;
  background-color: #f5f5f5c4;
  border-radius: 20px;
}

.content-dich-vu p,
.content-dich-vu span {
  color: black;
}

.content-dich-vu span {
  line-height: 20px;
}

.content-dich-vu div img {
  width: 31%;
  margin-right: 10px;
}

.menu-dich-vu-items:hover p {
  color: #1d9c00;
}

.menu-dich-vu-items:hover img {
  border-color: #1d9c00;
}

/* Form start */

.form-contact {
  padding: 20px 0px;
  color: #ffff;
  display: flex;
  justify-content: space-between;
}

.form-contact .left-contact {
  flex-basis: 70%;
  width: 100%;
}

.form-contact .right-contact {
  flex-basis: 28%;
  width: 100%;
}

.form-contact .left-contact p,
.form-contact .right-contact p {
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 20px;
}

.left-contact .row .col input {
  margin: 20px 0;
}

.left-contact .row .col textarea {
  width: 100%;
}

.left-contact .row .col input:first-child {
  margin-top: unset;
}

.left-contact .row .left-col {
  flex-basis: 40%;
}

.left-contact .row .right-col {
  flex-basis: 60%;
}

.left-contact .row .col p {
  font-size: 16px;
  line-height: 19px;
}

.left-contact .row .submit-container {
  text-align: center;
}

.left-contact .row .submit-container button {
  font-size: 16px;
  background-color: #00970b;
  padding: 10px 25px;
  color: #ffff;
  text-align: center;
}

.right-contact .box-phone {
  width: 100%;
  background-color: #00970b;
  height: 214px;
  text-align: center;
  position: relative;
}

.right-contact .box-phone div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-contact .box-phone i {
  font-size: 95px;
  padding-bottom: 15px;
}

.right-contact .box-phone p {
  font-size: 30px;
  font-weight: 700;
}

/* End form */
