.container-header {
  width: 100%;
}

.container-line1-header {
  background-color: #5a5a5a;
}

.container-header .line1-header {
  height: 45px;
  max-width: 1080px;
  margin: 0 auto;
}

.container-header .line1-header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.container-header .line1-header ul li {
  align-self: center;
  height: inherit;
  display: flex;
  align-items: center;
}

.container-header .line1-header ul li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.container-menu-header{
    background-color: #000;
    height: 80px;
}

.menu-header{
    max-width: 1080px;
    margin: 0 auto;
}

.menu-header .navbar{
  padding: 5px 0px;
}

.menu-header .nav-link{
    color: #ffff !important;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
    padding: 0;
}

.menu-header .nav-item:not(.menu-header .nav-item:last-child){
  border-right: 1px solid #ffff;
}

/* Mobile 
  ipad 900
*/
@media screen and (max-width: 767px) {
}
